img{
    height: 560px;
    width: 600px;
}
.container1{
    border: 10px solid blue;
    
}
.container{
    display: flex;
    flex-direction: row;
}
.container2{
    display: flex;
}
.container3{
    display: flex;
}
#height{
    margin-left: 80px;
}
#weight{
    margin-left: 80px;
}
#name{
    margin-left: 60px;
}
#type{
    margin-left: 60px;
}
#bio{
    margin-left: 60px;

}
.search-bar{
    text-align: center;
}
.large-container{
    color: black;
    font
}